* {
  box-sizing: border-box;
  margin: 0;
}

canvas {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
  object-position: bottom center;
}
